@font-face {
    font-family: 'Heatwood';
    src: url('Heatwood.eot');
    src: url('Heatwood.eot?#iefix') format('embedded-opentype'), url('Heatwood.woff2') format('woff2'), url('Heatwood.woff') format('woff'), url('Heatwood.ttf') format('truetype'), url('Heatwood.svg#Heatwood') format('svg');
}